{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Imaginarium Festival 2019</h1>
                <p class="text-muted">18 mai 2019 à 8h au 20 mai 2019 à 4h</p>
                <a href="#" class="btn btn-primary"><i class="fa fa-pencil-alt"></i> Modifier les paramètres de l'évènement</a>
                <h2 class="mt-5">Profil de l'évènement</h2>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <h1 class="display-4 text-capitalize">étape 1</h1>
                        <p class="lead">Créez des tâches et invitez des utilisateurs pour visualiser le profil de l'évènement</p>
                        <a href="#" class="btn btn-primary">Gérer les tâches</a>
                        <a href="#" class="btn btn-primary">Gérer les utilisateurs</a>
                    </div>
                </div>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container text-center">
                        <h1 class="display-4 text-capitalize">étape 2</h1>
                        <p class="lead">Commencer à plannifier votre évènement</p>
                        <a href="#" class="btn btn-primary">Plannifier manuellement</a>
                    </div>
                </div>
                <div class="stairs">
                    <div class="stairs-head">
                        <div class="stairs-cell">8h</div>
                        <div class="stairs-cell">9h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                        <div class="stairs-cell">10h</div>
                    </div>
                    <div class="stairs-rows">
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                        <div class="stairs-row">
                            <div class="stairs-cell enable-cell"></div>
                            <div class="stairs-cell enable-cell"></div>
                            <div class="stairs-cell enable-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                            <div class="stairs-cell"></div>
                        </div>
                    </div>
                </div>

                <a href="#" class="btn btn-primary">Gérer les tâches</a>
                <a href="#" class="btn btn-primary">Plannifier manuellement</a>
                <h2 class="mt-5">Gestion des ressources</h2>
                <h3 class="mt-4">Réponses aux invitations</h3>
                <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">78 disponibles</div>
                    <div class="progress-bar" role="progressbar" style="width: 5%; background-color: #8dccac;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">5 partiellement disponible</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">12 non disponible</div>
                </div>
                <a href="#" class="btn btn-primary">Gérer les ressources</a>
                <a href="#" class="btn btn-primary">Gérer les groupes</a>
                <a href="#" class="btn btn-primary">Gérer les accréditations</a>
            </div>
        </div>
    </div>
{% endblock %}

