{% extends 'event/base.html.twig' %}

{% block event_container %}
    <h2 class="mt-5">Profil de l'évènement</h2>
    <div class="ct-chart"></div>
    <div class="mt-5 d-flex w-100 justify-content-between">
        <h2>Planning de l'évènement</h2>
        <div class="tools">
            <button class="btn btn-sm btn-primary"><i class="fa fa-cogs mr-2"></i>Interface de plannification</button>
            <button class="btn btn-sm btn-primary"><i class="fa fa-compress-arrows-alt mr-2"></i>Plein écran</button>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            {# si pas de tâche ou pas de ressources dispo #}
            <h1 class="display-4 text-capitalize">étape 1</h1>
            <p class="lead">Créez des tâches et invitez des utilisateurs</p>
            <a href="#" class="btn btn-primary">Gérer les tâches</a>
            <a href="#" class="btn btn-primary">Gérer les utilisateurs</a>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            {# si pas d'affection tache - utilisateur #}
            <h1 class="display-4 text-capitalize">étape 2</h1>
            <p class="lead">Commencer à plannifier votre évènement</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-cogs mr-2"></i>Interface de plannification</a>
        </div>
    </div>
{% endblock %}
