{% extends 'event/tasks/base.html.twig' %}

{% block tasks_container %}
    <a href="#" class="btn mb-3 btn-sm btn-primary"><i class="fa fa-pencil-alt mr-2"></i>Editer le type de tâche</a>
    <h3>Vérification billet et encodage bracelet</h3>
    <small class="text-muted d-block"><i class="fa fa-map-marker-alt mr-1"></i>Entrées, dans la file vérification des billets</small>
    <p class="mt-3">
        Vérification du billet des festivaliers, encodage du bracelet à puce en fonction de leur billet (1 jour/2 jours/camping) avec les scans Weezevent mis à votre disposition, scanner les QR code des billets des festivaliers et distribution bracelet camping pour les campeurs (Bicolore pour 2 jours + camping et une couleur pour 1 jour+camping).
        Une personne de la team en vérification des billets VIP, presse, bénévole. Distribution des bracelets presse, accès crash, accès total et les diriger vers le point accueil. (+ badge et bracelet si accès total).
        Distribution de cendriers de poche.
    </p>
    <hr/>
    <h4>Profil de la tâche</h4>
    <small class="text-muted d-block mb-3">Représente par tranches horaires : le nombre de ressources requises en rouge, le nombre de ressources effectives en bleu.</small>
    <div class="ct-chart"></div>
    <h4 class="mt-4">Groupes autorisés</h4>
    <small class="text-muted d-block mb-3">Seuls les ressources appartenant à ces groupes peuvent effectuer cette tâche.</small>
    <a href="#" class="badge badge-info badge-pill" title="Groupe d'équité">Bénévoles</a>
    <a href="#" class="badge badge-warning badge-pill" title="Groupe de compétence">Membres de l'asso</a>
{% endblock %}