@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";

@import "reset";
@import "calendar";

@import "~@fortawesome/fontawesome-free/css/all";

.select-btn {
  -webkit-appearance: none;
  border-radius: 1.078em;
  cursor: pointer;
  font-size: 0.9em;
}

.select-btn.text-white {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23FFFFFF' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
  border: none;
}

.select-btn:disabled {
  cursor: not-allowed;
  background-image: none;
}


.time-slot {
  overflow: scroll;
  padding-bottom: 20px;
}

.time-slot table {
  table-layout: fixed;
}

.time-slot table tbody tr td {
  width: 28px;
  height: 26px;
}

.time-slot table tbody td {
  border: 1px solid rgb(220, 220, 220);
}

.time-slot table .hours {
  font-size: 0.8rem;
}

.time-slot table .days {
  font-weight: bold;
}

.time-slot table .days td {
  border-left: 3px solid #c8c8c8;
  padding-left: 0.4rem;
}

.time-slot table tbody td input {
  display: none;
}

.stairs {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.stairs .stairs-head {
  display: table-header-group;
}

.stairs .stairs-row {
  display: table-row;
}

.stairs .stairs-rows {
  display: table-row-group;
}

.stairs .stairs-rows .stairs-cell {
  border: 1px solid rgb(225, 225, 225);
  height: 15px;
}

.stairs .stairs-cell {
  display: table-cell;
}

.stairs .stairs-cell.enable-cell {
  background: rgba(#d9534f, 0.4);
  border-color: rgba(#d9534f, 0.4);
}