@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "progress-timeline";
@import "~bootswatch/dist/litera/bootswatch";

@import "reset";
@import "calendar";

@import "~@fortawesome/fontawesome-free/css/all";
@import "~chartist/dist/scss/chartist";
@import "~select2/src/scss/core";
@import "~bootstrap-table/src/bootstrap-table";

/**
  SELECT2 styling
 */

.select2 {
  width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
  border-color: $input-border-color;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  // Avoid using mixin so we can pass custom focus shadow properly
  @if $enable-shadows {
    box-shadow: $input-box-shadow, $input-focus-box-shadow;
  } @else {
    box-shadow: $input-focus-box-shadow;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: none;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: $danger;
}


.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: $primary;
}

.ct-point {
  stroke-width: 7px;
}
.ct-line {
  stroke-width: 2px;
}


.ct-line.ct-threshold-above, .ct-point.ct-threshold-above, .ct-bar.ct-threshold-above {
  //stroke: #59922b;
}

.ct-line.ct-threshold-below, .ct-point.ct-threshold-below, .ct-bar.ct-threshold-below {
  //stroke: #f05b4f;
}

.ct-area.ct-threshold-above {
  fill: #59922b;
}

.ct-area.ct-threshold-below {
  fill: #f05b4f;
}


.select-btn {
  -webkit-appearance: none;
  border-radius: 1.078em;
  cursor: pointer;
  font-size: 0.9em;
}

.select-btn.text-white {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23FFFFFF' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
  border: none;
}

.select-btn:disabled {
  cursor: not-allowed;
  background-image: none;
}


.time-slot {
  overflow: scroll;
  padding-bottom: 20px;
}

.time-slot table {
  table-layout: fixed;
}

.time-slot table tbody tr td {
  width: 28px;
  height: 26px;
}

.time-slot table tbody td {
  border: 1px solid rgb(220, 220, 220);
}

.time-slot table .hours {
  font-size: 0.8rem;
}

.time-slot table .days {
  font-weight: bold;
}

.time-slot table .days td {
  border-left: 3px solid #c8c8c8;
  padding-left: 0.4rem;
}

.time-slot table tbody td input {
  display: none;
}

.event_admin {
  .nav-tabs .nav-link {
    color: $dark;
  }
  .nav-tabs .nav-link.active {
    color: $primary;
  }
}

.list-group-container {
  .list-group-inner-container {
    overflow-y: scroll;
    .list-group {

    }
  }
  .list-group-header {

  }

  .list-group-footer {

  }


}

.event-list .list-group-item {
  border-left-width: 4px;
  border-left-style: solid;
}

.event-list .requirement-state {
  color: $danger;
}

.event-list .active .requirement-state {
  color: $white;
}

.user-list {
  td {
    vertical-align: middle;
  }
}

.card.event {
  box-shadow: 0 4px 20px 3px #313e4a73;
  background: linear-gradient(45deg, #29323c, #485563);
  color: white;
  .text-muted {
    color: rgba(255, 255, 255, 0.8);
  }
}

.request-message {
  font-style: italic;
  text-indent: 30px;
  line-height: 1.8em;
  margin: 1em 2em 0 2em;
  color: #404040;
  text-align: justify;
}

.user-list-picture {
  height: 40px;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  margin-right: 12px;

  img {
    width: 40px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: brightness(1.25);
  }
}

.user-list-name {
  display: inline-block;
  vertical-align: middle;
}