
.fc-view-container {
  .fc-event {
    border: none;
    border-radius: 12px;
    color: white !important;
    font-size: 1em;
    padding: 2px 9px;
    transition: all .2s;
    &:hover {
      filter: brightness(92%);
    }
  }
  .fc-now-indicator-line {
    border-left-width: 2px;
    border-color: rgba(255, 0, 0, 0.5);
  }
}

.fc-event .fc-bg {
  z-index: 1 !important;
  background: inherit !important;
  opacity: .25 !important;
}