$medium-success: #83d6a9;

.bg-dark {
  background-color: $dark !important;
}

.navbar-dark .navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

p {
  font-family: $font-family-base;
}

.form-group label, .form-group legend {
  font-weight: 600;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-top: 2px solid $primary;
}

.badge-medium-success {
  color: #FFF;
  background-color: $medium-success;
}

.text-medium-success {
  color: $medium-success;
}

.fa-equity {
  @extend .fa-balance-scale;
}

.fa-skills {
  @extend .fa-tools;
}

.fa-planner {
  @extend .fa-bolt;
}

.btn-reset {
  border: none;
  background: none;
}