{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-dark text-white" style="height: 100vh">
        <h1 class="text-uppercase">Planner</h1>
        <div>

        </div>
    </div>
{% endblock %}