{% extends 'event/base.html.twig' %}

{% block event_container %}
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h2>Configurer les compétences</h2>
            <div>{% block event_container_tools %}{% endblock %}</div>
        </div>
        <div class="col-4">
            <div class="list-group-container">
                <div class="list-group-header">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" ><i class="fa fa-search"></i></span>
                        </div>
                        <input type="search" id="search_input" class="form-control" placeholder="Rechercher" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="list-group-inner-container" style="max-height: 500px">
                    <div class="list-group searchable-list">
                        {% for loop_skill in event.skills %}
                            <a href="{{ path('event_skills_show', {id: event.id, skill_id: loop_skill.id}) }}" class="list-group-item list-group-item-action {{ skill is defined and skill.id == loop_skill.id ? 'active' }}">
                                {{ loop_skill.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% if app.request.get('_route') != 'event_tasks_new' %}
                <div class="list-group-footer mt-3">
                    <a href="{{ path('event_skills_new', {id: event.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-plus mr-2"></i>Nouvelle compétence</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            {% block skills_container %}{% endblock %}
        </div>
    </div>
{% endblock %}