{% extends 'event/base.html.twig' %}

{% block event_container %}
    <div class="row mt-4">
        <div class="col-md-12">
            <h2 class="text-center mt-3">Créer des groupes d'utilisateurs</h2>
            <div class="d-flex justify-content-center mt-5">
                <div class="card border-primary shadow ml-4 mr-4" style="max-width: 18rem;">
                    <div class="card-body text-primary text-center">
                        <i class="fa fa-3x fa-skills mb-2"></i>
                        <h3 class="card-title">Groupe de compétence</h3>
                        <p class="card-text">
                            Les groupes de compétence permettent de définir des groupes d'utilisateur·ice·s qui pourront effectuer certaines tâches.
                        </p>
                        <p class="card-text">
                            <a href="#" class="btn btn-primary stretched-link"><i class="mr-1 fa fa-sm fa-plus"></i> Créer</a>
                        </p>
                    </div>
                </div>
                <div class="card bg-primary shadow text-white ml-4 mr-4" style="max-width: 18rem;">
                    <div class="card-body text-center">
                        <i class="fa fa-3x fa-equity mb-2"></i>
                        <h3 class="card-title">
                            Groupe d'équité
                        </h3>
                        <p class="card-text">
                            <p class="mb-1">Les groupes d'équité permettent de définir des groupes d'utilisateur·ice·s qui doivent avoir la même charge de travail.</p>
                            <small>Un·e utilisateur·ice ne peut appartenir qu'à un seul groupe d'équité.</small>
                        </p>
                        <p class="card-text">
                            <a href="#" class="btn btn-light text-primary stretched-link"><i class="mr-1 fa fa-sm fa-plus"></i> Créer</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}