{% extends 'event/ressources/base.html.twig' %}

{% block resource_container %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Gérer les invitations</h3>
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter une ressource</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Importer depuis un fichier</a>
            <a class="dropdown-item" href="#">Inviter</a>
            <a class="dropdown-item" href="#">Autoriser les candidatures</a>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Contact</th>
        <th scope="col">Invitation / Candidature</th>
        <th scope="col">Disponibilité</th>
        <th scope="col">Groupe d'équité</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Mark</th>
        <td>1</td>
        <td>Invitation</td>
        <td><span class="badge badge-danger">Non disponible</span></td>
        <td class="text-muted">Aucun</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Voir le profil</a>
                    <a class="dropdown-item text-danger" href="#"><i class="fa fa-sm fa-user-slash mr-1"></i>Retirer</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Jacob</th>
        <td>2</td>
        <td>Invitation</td>
        <td><span class="badge badge-success">Disponible</span></td>
        <td><a href="#">Bénévole</a></td>
        <td><a href="#">Bénévole</a></td>
    </tr>
    <tr>
        <th>Larry</th>
        <td>3</td>
        <td>Candidature</td>
        <td><span class="badge badge-medium-success">Partiellement disponible</span></td>
        <td><a href="#">Orga</a></td>
        <td><a href="#">Orga</a></td>
    </tr>
    </tbody>
</table>
{% endblock %}

