{% extends 'event/ressources/base.html.twig' %}

{% block resource_container %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Liste des ressources</h3>
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ajouter une ressource</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Importer depuis un fichier</a>
            <a class="dropdown-item" href="#">Inviter</a>
            <a class="dropdown-item" href="#">Autoriser les candidatures</a>
        </div>
    </div>
</div>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Rechercher" aria-label="Text input with dropdown button">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Disponibilité</button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Rôle</h6>
            <div class="p-3">
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">Remember me</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">Remember me</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                        <label class="form-check-label" for="dropdownCheck2">Remember me</label>
                    </div>
                </div>
            </div>

            <div role="separator" class="dropdown-divider"></div>
        </div>
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groupe d'équité</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>
</div>
<div class="list-group mt-4">
    <div  class="list-group-item d-flex w-100 justify-content-between">
        <div>
            <a href="#" class="mb-0"><strong>Corentin HEMBISE</strong></a>
            <br/>
            <small class="text-muted">chembise</small>
        </div>
        <span class="badge badge-success badge-pill">Disponible</span>
        <div>
            <p class="mb-0 text-muted"><small>Groupe d'équité</small></p>
            <a href="#">Bénévole</a>
        </div>
        <a href="#"><i class="fa fa-times text-danger"></i></a>
    </div>
    <div class="list-group-item d-flex w-100 justify-content-between">
        <div>
            <p class="mb-0"><strong>Romain BAICHERE</strong></p>
            <small class="text-muted">rbaicher</small>
            <span class="badge badge-success">Disponible</span>
        </div>
        <div class="dropdown">
            <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plannificateur
            </button>
            <div class="dropdown-menu dropdown-menu-right" style="width: 330px;" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header">Rôle</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <p class="mt-1 mb-1"><strong>Administrateur</strong></p>
                    <p class="text-wrap text-muted  mb-0">Peut modifier les paramètres de l'évènement et ajouter/supprimer des administrateurs.</p>
                </a>
                <a class="dropdown-item active" href="#">
                    <p class="mt-1 mb-1"><strong>Plannificateur</strong></p>
                    <p class="text-wrap mb-0">Peut gérer les tâches, les groupes, les utilisateurs et plannifier l'évènement.</p>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"><strong><i class="fa fa-sm fa-user-slash mr-1"></i>Retirer</strong></a>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Contact</th>
        <th scope="col">Invitation / Candidature</th>
        <th scope="col">Disponibilité</th>
        <th scope="col">Groupe d'équité</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Mark</th>
        <td>1</td>
        <td>Invitation</td>
        <td><span class="badge badge-danger">Non disponible</span></td>
        <td class="text-muted">Aucun</td>
        <td>
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Voir le profil</a>
                    <a class="dropdown-item text-danger" href="#"><i class="fa fa-sm fa-user-slash mr-1"></i>Retirer</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th>Jacob</th>
        <td>2</td>
        <td>Invitation</td>
        <td><span class="badge badge-success">Disponible</span></td>
        <td><a href="#">Bénévole</a></td>
        <td><a href="#">Bénévole</a></td>
    </tr>
    <tr>
        <th>Larry</th>
        <td>3</td>
        <td>Candidature</td>
        <td><span class="badge badge-medium-success">Partiellement disponible</span></td>
        <td><a href="#">Orga</a></td>
        <td><a href="#">Orga</a></td>
    </tr>
    </tbody>
</table>
{% endblock %}

